html {
  height: 100%;
}

body {
  background-color: black;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

div {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

#loading {
  height: 30px;
  width: 30px;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
}